header {    
    margin-top: 3.875rem;    
    & a {        
        z-index: 1;              
    }    
    & > p {
       margin: 1rem .5rem;       
       width: 13rem;       
       text-align: justify;
    }
}
.container__apresentacao {    
    align-items: center;    
    justify-content: space-evenly;    
}
.apresentacao {      
    position: relative;    
    align-items: center;    
    svg {        
        position: relative;
        z-index: -1;
    }
    figure {         
        position: absolute;                             
        top: -0.125rem;
        left: 0.4375rem;
        img {            
            width: 11.16513rem;
            height: 7.92363rem;               
        }
    }
    figcaption {               
        flex-direction: column;                             
        align-items: center;        
        z-index: 1; 
        margin-top: .216rem;               
        margin-right: .5rem;
        h3 {                   
            font: var(--heading-sm);
            font-weight: 800;                
            color: var(--branco-100);            
        }             
        hr {        
            margin-top: 0.0625rem;        
            width: 40%;
            background: var(--branco-100);
        }
        p {               
            width: 62%;
            text-align: center;
        }
    }
}
.container__acessos {    
    margin: 3.66rem .5rem;            
    align-items: center;    
}
.usuarios__imgs {            
    align-items: center;   
    justify-content: center; 
    img {                
        height: 2rem;
        width: 2rem;        
        position: relative;
        &:nth-child(1) {
            left: .6rem;           
        }
        &:nth-child(2) {            
            left: 0.275rem;            
        }
        &:nth-child(3) {            
            left: -0.046875rem;            
        }
        &:nth-child(4) {            
            left: -.5rem;        
        }
    }    
}